body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8em;
    line-height: 20px;
}
h1{
    color: gray;
    padding: 5px;
}
h3{
    color: gray;
    padding: 5px;
}

input[type=text]{
    /* width: 100%; */
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type=text]:focus {
    border: 3px solid #555;
}

button {
    float: right;
    margin-right: 5px;
    margin-left: 5px;
    padding: 10px;
    width: 20%;
    background-color: #555555;
    color: white;
    border: 2px solid #555555;
    -webkit-transition-duration: 0.4s;
    cursor: pointer;border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button:hover{
    background-color: white; 
    color: black; 
}
button:active{
    background-color: red;
}
#gameName{
    width: 90%;
}
#decksAmount{
    float: right;
    /* padding: 12px 20px; */
    box-sizing: border-box;
    /* border: 3px solid #ccc; */
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#playerAmount{
    float: right;
    /* padding: 12px 20px; */
    box-sizing: border-box;
    /* border: 3px solid #ccc; */
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.selectors{
    border: 1px solid black;
    width: 25%;
}
.cardInputs{
    width: 25%;
}

#generatedCardToAdd{
    font-size: 1.2em;
    line-height: 1.5;
    width: 35%;
    background-color: aqua;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    overflow-wrap: break-word;
}
#generatedCardToAdd:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cardImgDiv{
    background-color: black;
}